

<form>
  <input id='search' type='text' name='search' placeholder='Please enter a search' />
  <input type='submit' name='submit' value='Submit' />
</form>
<hr>
<div class='listWindow'>
  <ul class='list'>

  </ul>
</div>


